<main class="container">

    <div class="input-area">

        <section id="inputs">
            <input type="text" placeholder="Title" maxlength="50">
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
        </section>

        <section id="buttons">
            <button routerLink="/notes" id="cancel">
                <mat-icon fontIcon="cancel"></mat-icon>
            </button>

            <button id="confirm">
                <mat-icon fontIcon="check"></mat-icon>
            </button>
        </section>
    </div>
</main>