<main class="container">

    <div class="notes">
        
        <section class="menu">
            <h3>A Simple Note App</h3>
            <button routerLink="/add">
                <span>Add Note</span>
                <mat-icon fontIcon="add"></mat-icon>
            </button>
        </section>
        @for (note of notes; track $index) 
        {
            <section class="note">
                <p class="note-title">{{note.title}}</p>
                <button routerLink="/edit/{{note.id}}">
                    <mat-icon fontIcon="edit"></mat-icon>
                </button>
                <button (click)="deleteNote(note.id)">
                    <mat-icon fontIcon="delete"></mat-icon>
                </button>
            </section>

        }

    </div>

</main>